body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* menu active */
.active {
  color: #f59f00 !important;
}

/* class báo lỗi valid */
.nonvalid {
  background-color: #ffa8a8 !important;
  border-color: #c92a2a !important;
  padding: 100px;
}

.message-err {
  color: #c92a2a;
  padding: 20px 0 0 0;
}
